body {
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
  padding: 0;
  margin: 0 auto 0 auto;
  max-width: 800px;}
a {
  text-decoration: none;}

a:hover {
  background-color: #6B5CA5;
  color: #fff;}
#menu {
  padding: 0.5em 0 0.5em 0;
  font-size: 0.9em;
  max-width: 800px;
  margin: 20px 0 0 0;}
#menu a {
  padding: 0.5em 0.7em 0.5em 0.7em;
  border-bottom: solid 3px #6B5CA5;}
#menu a:hover {
  background-color: #6B5CA5;
  color: #fff;}
#menu a.thisSite {
  color: #fff;
  font-weight: 600;
  background-color: #6B5CA5;}
#name {
  vertical-align: center;
  float: right;
  padding: 0.7em 0.5em 0.7em 0.5em;
  margin: 0 auto 15 auto;
  color: #333;
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;}
#content {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 300px;
  max-width: 800px;}
#main {
  margin: 10 0 1.5em 0;
  padding: 0.5em 1em;
  border-bottom: solid 3px #6B5CA5;}